@model Veiculos.Web.Models.ConsultaViewModel
@{
    Layout = "/Views/Shared/_LayoutTelaConsulta.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>#Id</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Ano</th>
            <th>V. de Compra</th>
            <th>V. de Venda</th>
            <th>Cor</th>
            <th>Tipo Combustível</th>
            <th>Data Venda</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var prop in (IEnumerable<Veiculos.Dominio.Entidades.Anuncio>)Model.Dados )
        {
            <tr>
                <td>@prop.Id</td>
                <td>@prop.Modelo.Nome</td>
                <td>@prop.Marca.Nome</td>
                <td>@prop.Ano</td>
                <td>@prop.ValorCompra</td>
                <td>@prop.ValorVenda</td>
                <td>@prop.Cor</td>
                <td>@prop.TipoCombustivel</td>
                <td>@prop.DataVenda.ToString()</td>
                <td><a href="/Anuncio/Editar?id=@prop.Id" class="btn btn-primary btn-xs">Editar</a></td>
                <td><a href="/Anuncio/Excluir?id=@prop.Id" class="btn btn-danger btn-xs">Excluir</a></td>
            </tr>
        }
    </tbody>
</table>